@use '../abstracts/' as *;
  
  .skill-bar{
    @include align(flex, center, center, null);
    flex-direction: column;
    display: block;
    max-width:60rem;
    background: $white;
    box-shadow: 1px 1px 2px rgba(0, 0,0, 0.2);
    border-radius: 10px;
    padding: 25px 30px;

    @include responsive(xsmall){
      margin-top: 6rem;
    }
  }
  
  .skill-bar .bar{
    margin: 30px 0;
  }
  
  .skill-bar .bar:first-child{
    margin-top: 0px;
  }
  
  .skill-bar .bar .info{
    margin-bottom: 5px;
  }
  
  .skill-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 0.5s linear forwards;
  
  }
  
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  
  .skill-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.06),
                      0px 1px rgba(255,255,255, 0.8);
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  
  .bar .progress-line span{
    height: 100%;
    width: 80%;
    background:  linear-gradient(to left, $main1, $orange);
    position: absolute;
    border-radius: 18px;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
    
  }
  
  .progress-line.html span{
    width: 100%;
  }
  
  .progress-line.css span{
    width: 100%;
  }
  
  .progress-line.react span{
    width: 100%;
  }
  .progress-line.python span{
    width: 100%;
  }
  
  .bar .progress-line span::before{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    right: 0;
    top: -10px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  
  .bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -36px;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 1px 8px;
    border: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  
  @keyframes showText2{
    100%{
      opacity: 1;
    }
  }
  
  .progress-line.html span::after{
    content: '100%';
  }
  
  .progress-line.css span::after{
    content: '100%';
  }
  
  .progress-line.react span::after{
    content: '100%';
  }
  .progress-line.python span::after{
    content: '100%';
  }